/*style.css*/
body{
    display: flex;
    flex-direction: column;
}

/* text CSS */
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
    color: #4aaaa5;
}

a, p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.bio {
    display: flex;
}

/* Header elements*/
header{
    background-color: #ffffff;
    width: 100%;
}

.name{
    justify-self: flex-start;
}

.name h1{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
}



/* wrapper style*/
.wrapper{
    margin: auto;
    width: 70%;
    display: flex;
}



.top{
    justify-content: space-between;
}

.main{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #ffffff;
    top: 20px;
}

/* about me page style*/
.content{
    background-image: url(https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200251/96431714-grey-background-of-stone-texture-with-blank-surface.jpg);
    border-bottom: 4px #4aaaa5 solid;
    border-top: 2px #cccccc solid;
}

.title{
    flex-grow: 1;
    padding-bottom: 10px;
    border-bottom: 2px #cccccc solid;
}

.description{
    display: flex;
    padding-top: 20px;
}

.description-image{
    margin: 0 20px 20px 0;
}

/*Contact Page Styles*/
.contact-form{
    margin-top: 20px;
    width: 100%;
}

.contact-form p{
    margin-bottom: 0;
}

.form-control{
    width: 100%;
}

.submit{
    background-color: #4aaaa5;
    color: white;
    padding: 5px 20px;
    border: none;
}

/*Portfolio page styles*/
.gallery{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}

.gallery-image{
    width: 50%;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
    justify-content: center;
}

.gallery-image h3{
    position: absolute;
    z-index: 2;
    top: 150px;
    background-color: #4aaaa5;
    color: white;
    width: 300px;
    padding: 5px 0;
    text-align: center;
}

.gallery-image img{
    width: 300px;
    height: 200px;
}

/* footer style*/
.footer{
    background-color: #777777;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.footer p{
    color: white;
    margin: 0;
    font-size: 8px;
    align-self: flex-end;
    padding: 5px;
}


/*Laura's reworked classes*/

.masthead{
    display: float;
    background-color: #ffffff;
    padding: 20px; 
    width: 80%
}

.masthead-name{
    display: float;
    justify-self: flex-start;
    color: #ffffff;
    background-color: cornflowerblue;
    padding: 20px;
    width: 20%;  
    
}

.header-nav{
    justify-self: flex-end;
    margin:0;
}